.p{
    font-size: 15px;
    color: green;
    border: solid;
}

.container{
     width: 1000px;
     background-color: red;
     border: 1px solid #000000;
     margin: 0px auto;
}   

.menus{
float: right;
}
li{
float: left;
list-style: none;
margin: 5px;
}

.bannerimage{
width: 1000px;
height: 500px;
border: 1px solid #000000;
}
.graphic1{
width: 315px;
border: 1px solid #000000;
text-align: center;
margin: 7px;
float: left;   
}
.graphicimage1{
width: 100px;
text-align: center;
}
.graphic2{
width: 315px;
border: 1px solid #000000;
text-align: center;
margin: 7px;
float: left;
}
.graphicimage2{
width: 100px;
text-align: center;
}
.graphic3{
width: 315px;
border: 1px solid #000000;
text-align: center;
margin: 7px;
float: left;
}
.graphicimage3{
width: 100px;
text-align: center;
}
.text{
float: left;
width: 1000px;
border: solid red;
}   

.container1{
    width: 1000px;
    background-color: white;
    border: 1px solid #000000;
    margin: 0px auto;
    height: 800px;
}
.header1{
    width: 1000px;
    height: 100px;
    border: 1px solid #000000;
   
 
}
.menus{
    float: right;
    }
    li{
    float: left;
    list-style: none;
    margin: 5px;
    }

.map{
    width: 1000px;
    float: right;
    text-align: center;
    margin: 10px;
}
.address{
    border: solid black;
    width: 300px;
    height: 100px;
    text-align: center;
    float: left;
    margin: 5px;
}
.phonenumber{
    border: solid black;
    width: 300px;
    height: 100px;
    text-align: center;
    float: left;
    margin: 10px;

}
.FORM{
    text-align: center;
}


.cont{
    width: 1000px;
    background-color: blue;
    border: 1px solid #000000;
    margin: 0px auto;    
}
.heading{
    width: 1000px;
    border: 1px solid #000000;
    margin: 0px auto;
}
.service{
    margin: 10px;

}
.laptop{
   border:solid black;
   width: 300px;
   height: 315px;
   text-align: center;
   float: left;
   margin: 5px;
  
}
.mobile{
   
    border:solid black;
    width: 300px;
    height: 315px;
    text-align: center;
    float: left;
    margin: 5px;
}
.tv{  
    border:solid black;
    width: 300px;
    height: 315px;
    text-align: center;
    float: left;
    margin: 5px;
}
 .internet{
    border:solid black;
    width: 300px;
    height: 315px;
    text-align: center;
    float: left;
    margin: 5px;
    }

    .course{
    border:solid black;
    width: 300px;
    height: 315px;
    text-align: center;
    float: left;
    margin:5px;
    }

    .desktop{
        border:solid black;
        width: 300px;
        height: 315px;
        text-align: center;
        float:left;
        margin:5px;
    }

